.headerLeft {
  display: flex;
  /* align-items: left; */
  justify-content: space-between;
}
.headerRight {
  display: flex;
  margin-right: 16px;
}
.headerLogo {
  margin-left: 16px;
  gap: 8px;
}
.globalHeader {
  display: flex;
  border-bottom: 1px solid #1f1f1f;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}
.globalHeader nav ul {
  display: flex;
  list-style: none;
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
  color: var(--gray-600);
}

.globalHeader nav ul li a:hover {
  color: var(--blue);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginLink {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
}

@media (min-width: 768px) {
  .globalHeader nav ul {
    gap: 36px;
    font-size: 18px;
  }

  .headerLogo {
    margin-right: 35px;
  }
}

@media (min-width: 1280px) {
  .headerLogo {
    margin-right: 47px;
  }
}
